@page "/employeeoverview"
<PageTitle>@Title</PageTitle>
<h2>Employee Overview</h2>

@if (Employees is null)
{
    <p>Loading...</p>
}
else
{
    <QuickViewPopup Employee="_selectedEmployee"/>

    <div class="row">
        @foreach (var employee in Employees)
        {
            <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-3">
                <ErrorBoundary>
                    <ChildContent>
                        <EmployeeCard Employee="employee" EmployeeQuickViewCLicked="ShowQuickViewPopup" />
                    </ChildContent>
                    <ErrorContent>
                        <p class="errorUI">Invalid Employee</p>
                    </ErrorContent>
                </ErrorBoundary>
            </div>
        }
    </div>
}
