@page "/"

<!--
TODO: move most of this style into a css setting and set the height dynamically based on windows size, maybe considering DPI if necessary
-->

<div class="stretch-box min-vh-100 vh-100 min-vw-100 vw-100; height: 1450px; text-align:center; " @onkeydown="@OnKeyDown">
    <div id="wallpaper" class="background-image-style">
    </div>
</div>

