@using BethanysPieShop.MVC.App.Models.Categories;
@model EditViewModel

<h2>Update category @Model.Name</h2>
<hr/>

<form method="post" asp-controller="Category" asp-action="Edit">
    <div asp-validation-summary="All" class="text-danger"></div>
    <input type="hidden" asp-for="Id"/>

    <div class="mb-3">
        <label asp-for="Name" class="form-label"></label>
        <input asp-for="Name" class="form-control"/>
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Description" class="form-label"></label>
        <input asp-for="Description" class="form-control"/>
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <input type="submit" value="Update Category" class="btn btn-primary" />
</form>
<div>
    <a asp-controller="Category" asp-action="Index">Back to overview</a>
</div>
