@using BethanysPieShop.MVC.App.Models.Pies;
@model EditViewModel

<h2>Update pie @Model.Name</h2>
<hr/>

<form method="post" asp-controller="Pie" asp-action="Edit">
    <div asp-validation-summary="All" class="text-danger"></div>
    <input type="hidden" asp-for="Id"/>
    <input type="hidden" asp-for="ConcurrencyToken"/>

    <div class="mb-3">
        <label asp-for="ShortDescription" class="form-label"></label>
        <textarea asp-for="ShortDescription" class="form-control" rows="5" cols="50" style="resize: none;"></textarea>
        <span asp-for="ShortDescription" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="LongDescription" class="form-label"></label>
        <textarea asp-for="LongDescription" class="form-control" rows="5" cols="50" style="resize: none;"></textarea>
        <span asp-for="LongDescription" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="AllergyInformation" class="form-label"></label>
        <textarea asp-for="AllergyInformation" class="form-control" rows="5" cols="50" style="resize: none;"></textarea>
        <span asp-for="AllergyInformation" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Price" class="form-label"></label>
        <input asp-for="Price" class="form-control" />
        <span asp-for="Price" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <!-- TODO: change this to an image upload -->
        <label asp-for="ImageThumbnailUrl" class="form-label"></label>
        <input asp-for="ImageThumbnailUrl" class="form-control" />
        <span asp-for="ImageThumbnailUrl" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <!-- TODO: change this to an image upload -->
        <label asp-for="ImageUrl" class="form-label"></label>
        <input asp-for="ImageUrl" class="form-control" />
        <span asp-for="ImageUrl" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="IsPieOfTheWeek" class="form-label"></label>
        <input asp-for="IsPieOfTheWeek" />
        <span asp-for="IsPieOfTheWeek" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="InStock" class="form-label"></label>
        <input asp-for="InStock" />
        <span asp-for="InStock" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Categories" class="form-label"></label>
        <select asp-for="CategoryId" asp-items="Model.Categories"></select>
    </div>


    <input type="submit" value="Update Pie" class="btn btn-primary" />
</form>
<div>
    <a asp-controller="Pie" asp-action="Index">Back to overview</a>
</div>
