@page "/"

<PageTitle>Home Page</PageTitle>

<h1>Pluralsight Shopping</h1>

Welcome to Blazor and PWA Shopping!

<div class="card">
    <div class="card-body">
        We hope you buy a lot of stuff!
    </div>
</div>
