<div id="sidebar-wrapper" class="bg-light">
    <a class="navbar-brand" href="" >Photo Viewer</a>
    <div class="menu list-group list-group-flush">
        <NavLink class="list-group-item list-group-item-action bg-light" href="/" Match="NavLinkMatch.All">
            <span class="oi oi-home" aria-hidden="true"></span> Home
        </NavLink>
    </div>
</div>

